@{ 
    var uname = User.Identity.Name;
}

<div class="row border-bottom">
    <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <a class="navbar-minimalize minimalize-styl-2 btn btn-primary " href="javascript:void(0);"><i class="fa fa-bars"></i> </a>
            <div class="navbar-form-custom" >
                <div class="form-group">
                    <input type="text" placeholder="" class="form-control" id="top-search" value="@(ViewData["topSearchText"]?.ToString())">
                </div>
            </div>
        </div>
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <span class="m-r-sm text-muted welcome-message" data-i18n="topnav.welcometext">DDomain v1.0</span>
            </li>  
            <li> 
                 <a class="dropdown-toggle count-info" data-toggle="dropdown">
                    @uname <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                        <li><a href="javascriot:void(0);" class="font-bold">修改资料</a></li> 
                        <li class="divider"></li>
                        <li><a href="@Url.Action("Logout", "Account")"><i class="fa fa-sign-out"></i>退出登录</a></li>
                 </ul> 
            </li>
        </ul>
    </nav>
</div>
