<div class="footer">
    <div class="pull-right">
        DDomain.io
    </div>
    <div>
        <strong>Copyright</strong> FeiWa Technology Co., Ltd &copy; @DateTime.UtcNow.AddHours(8).Year - @(DateTime.UtcNow.AddHours(8).Year+1)
    </div>
</div>
